.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.wrapper {
  background: white;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.wrapper table thead tr td{
  border-bottom: 2px solid gray;
  padding-right: 50px;
}